* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* imagem externa */
    background-image: url(../imagens/background.png);
    background-size: cover;
    color: white;
    font-family: 'Lato', sans-serif;
}

.container {
    width: 35%;
    margin: 158px auto;
    text-align: center;
    
}

.logo {
    margin-bottom: 25px;
}

h1 {
    font-size: 65px;
    /* deixando a palavra maiuscula*/
    text-transform: uppercase;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 25px;
}

/* estilizando o campo do input */
.input {
    width: 100%;
    padding: 18px;
    margin-bottom: 8px;
    font-size: medium;
    border-radius: 5px 5px;
    font-weight: normal;
    outline: none;
    border: none;
    display: block;
}



.label {
    font-size: 17px;
    
}

.buttom {
    margin-top: 30px;
    width: 100%;
    padding: 15px 0;
    border-radius: 5px 5px;
    background: rgb(8 111 193);
    color: white;
    font-size: 20px;
    border: none;
    outline: none;
    
}




.buttom:hover {
    background: rgb(61 100 223);
}