body {
   /*d mistura de cores rgb (red,green e blue) e seus valores (0,0,0).Tem a função também hexadecimal #FFFF00(FF=red, FF=green e 00=blue) */
   background: #dfdfdf; 
}

p {
   /* definindo cor para todo os parágrafos */
   color: rgb(34, 34, 34); 
}

.foto {
   /* Definindo tamanho da foto */
   width: 200px; 
   
   /* definindo borda na foto largura, tipo da borda que posso ver na documentção e cor */
   border: 5px solid #ffffff; 
   /* posso usar o mesmo exemplo abaixo.
   border-width: 5px;
   border-style: solid;
   border=color: black; */  
   
   /* neste exemplo posso alterar a forma da borda em seus 4 cantos */
   border-radius: 50% 50% 50% 50%; 

   /* neste exemplo posso definir espaçamentos da foto 
   margin-top: 30px; 
   margin-bottom: 100px; 
   margin-left: 600px; 
   margin-right: 100px; */

   /* simplificado top =topo rigth= direita bottom= baixo left=esquerda */
   margin: 30px 500px 30px 500px; 
} 

