/* display */

body {
    background: url(https://img.freepik.com/fotos-gratis/textura-de-parede-de-estuque-azul-marinho-de-relevo-decorativo-grunge-abstrato-fundo-colorido-aspero-de-angulo-amplo_1258-28311.jpg?w=2000);
}

ul {
    /* nesta propriedade esconde determinado elemento , removendo da tela o elemento e sua area que ocupava: 
    display: none; 
    nesta outra propriedade ele deixa invisivel apenas o elemento deixando sua área que estava ocupada: *
    visibility: hidden; */
    background: grey;
    padding: 20px;
    
    /* aqui podemos dar transparencia na caixa com valor de 0 a 1 */
    opacity: 0.5;

}


ul li {
    /* deixando os links lado a lado */
    display: inline;
    /* distanciar os links */
    margin: 20px;
}